<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tareas con Hapi.js</title>
</head>
<style>
    body {
        font-family: Helvetica, Arial, sans-serif;
    }

    .contenedor {
        width: 75%;
        margin: 2rem auto;
    }

    a {
        text-decoration: none;
        color: orangered
    }

    a:hover {
        text-decoration: underline
    }

    .parrafo {
        margin-top: 2rem;
    }
</style>

<body>

    <div class="contenedor">
        <h1>Tareas</h1>
        <form method="POST" action="/tasks">
            <input type="text" name="text" placeholder="Añade una tarea">
        </form>
        <ul>
            {{#each tasks}}
            <li>{{text}}</li>
            {{/each}}
        </ul>
        <p class="parrafo">
            Esta simple app con <a href="https://hapijs.com/">hapi.js</a> utiliza una base de datos de MongoDB llamada <strong>hapidb</strong>.
        </p>
    </div>

</body>

</html>